<h1> 
    <form action="https://id.twitch.tv/oauth2/authorize" method="get">
        <input type="hidden" value="7gpq57653wv3pywobn29qc0tdbq2sj" name="client_id" />
        <input type="hidden" value="code" name="response_type" />
        <input type="hidden" value="http://localhost/callback" name="redirect_uri" />
        <input type="hidden" value="{{scopes}}" name="scope" />
        <input type="hidden" value="{{state}}" name="state" />
        <button type="submit">Logar</button>
    </form>
</h1>